*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    height: 5em;
}
header button{
    height: 5em;
    width: 7em;
    margin: 0em;
    font-size: medium;
    color: rgb(0, 0, 0);
    background-color: rgb(109,167,49);
    border-color: transparent;
}
header button:hover{
    background-color: rgb(131,187,97);
}
.biobutton{
    height: 3em;
    width: 8em;
    font-size: medium;
    border-radius: 5px;
    background-color: rgb(109,167,49);
    border-color: transparent;
}
.biobutton:hover{
    color: white;
    background-color: rgb(39, 40, 36);
}
.selected-menu{
    background-color: rgb(131,187,97);
}
.howdiv{
    width: 50%;
    height: 40em;
    text-align: center;
}
.howdiv div{
    position: relative;
    top: 10em;
    right: -2em;
    font-size: large;
}
.imgdiv{
    width: 50%;
}
.imgdiv img{
    width: 25em;
    position: relative;
    top: 5em;
    left: 5em;
}
.container{
    display: flex;
}
.bio{
    height: 50em;
    background-color: rgb(24,25,19);
    
}
.bio .textbox{
    position: relative;
    border-radius: 5px;
    margin-left: 20em;
    margin-right: 20em;
    height: 18em;
    top: 8em;
    background-color: rgb(39, 40, 36);
}
.bio h2{
    color: white;
    text-align: center;
    position: relative;
    top: 2.5em;
}
.bio p{
    text-align: center;
    position: relative;
    top: 5em;
}
.linkbutton{
    position: relative;
    top: 11em;
    margin-left: 25%;
    width: 50%;
    text-align: center;
}
.linkbutton button{
    height: 3em;
    width: 8em;
    font-size: medium;
    color: white;
    border-radius: 5px;
    background-color: rgb(39, 40, 36);
    border-color: transparent;
}
.linkbutton button:hover{
    background-color: rgb(50, 51, 47);
    border-color: transparent;
}
.socials {
    display: flex;
    position: relative;
    top: 10em;
    width: 180px;
    margin: 0 auto;

}
table, th,td{
    border: 1px black solid;
    text-align: center;
}
th,td{
    padding: 5px;
}
.button1 button{
    margin: 5px;
    padding: 5px;
    background-color: green;
    border-radius: 5px;
    border-color: transparent;
    font-size: medium;
    color: white;
}
.button1 button:hover{
    background-color: rgb(0, 207, 0);
}
@keyframes fadein{
    from{
        color: transparent;
    }to{
        color: white;
    }
}
